body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #232323;
  color: #fdfdfd;
}

.hero-section {
  min-height: 100vh;
}

.hero-section h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15vh;
}

.hero-section h3,
.hero-section h2 {
  font-size: 5vh;
}

.custom-btn {
  font-family: inherit;
  padding: 1rem 1.5rem;
   outline:  none;
  box-shadow: none;
  border: none;
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:focus {
  outline:  none;
  box-shadow: none;
  border: none;
}

.card {
  background: inherit;
  color: inherit;
  border:  none;
}

.custom-list li {
  font-size:  125%;
  font-weight: 400;
  margin-top: 1rem;
  border:  none;
  background: inherit;
  color: inherit;
  margin-bottom: 1rem;
}

.feature-section {
  margin-top: 5vh;
  min-height: 100vh;
}

.contributer {
  margin-top: 5vh;
}
