:root {
  --primary: #ffd35f;
  --accent: #3d8676;
}

.hero-section {
  background-color: var(--accent);
  color: var(--primary);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
  min-height: 100vh;
}

.hero-section h1 {
  font-family: "PT Serif", serif;
  font-size: 15vh;
}

.hero-section h3,
.hero-section h2 {
  font-size: 5vh;
}
